*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:#e5e5fd;
    min-height: 100vh;
    border: 10px solid black;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{
    margin-top:100px ;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: darkblue;
}
.top-section h4{
    font-size: 30px;
    text-align: end;
}
.img-container{
    border-radius: 50%;
    overflow: hidden;
}
.img-container,img{
    width: 300px;
    height: 320px;
}
.about-section h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight:bold;
   font-size: 70px;
}
.about-section p{
    font-size: 22px;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.biography-section{
    margin: 50px 0px ;
}
.biography-section h3{
    font-size: 20px;
    margin-bottom: 20px;

}
.biography-section ul{
    margin-left: 60px;
}
.biography-section li{
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 18px;
}
footer{
    text-align: end;
    font-size: 20px;
    font-style: italic;
}